<hr>
<h3>About Us</h3>

<div class="row">
  <div class="col-sm-4">
    <img src="http://sdbicyclelawyer.com/wp-content/uploads/2015/04/riding-bicycle-in-street-300x200.jpg" alt="About us photos">
  </div>
  <div class="col-sm-6">
    <p>
      Our work helps create a future where every facet of cycling’s vast potential is realized. live2bike is an independent bike blog that covers the global bike scene, starting in Portland, Oregon. Through our journalism, events, and guest bloggers we inform and inspire thousands of people around the world every day.
    </p>
  </div>
</div>
<hr>
