<h3>About Us</h3>

<img src="http://sdbicyclelawyer.com/wp-content/uploads/2015/04/riding-bicycle-in-street-300x200.jpg" alt="About us photos">

<p>
  Our work helps create a future where every facet of cycling’s vast potential is realized. BikePortland.org is an independent daily news source that covers the Portland bike scene. Through our journalism, events, and direct advocacy we inform and inspire thousands of people around the world every day.
</p>
