<div class="container">
  <header>
    <h1>live2bike</h1>
  </header>
    {{outlet}}
  <hr>
  <footer>
    {{#link-to 'index'}}Home{{/link-to}}
    {{#link-to 'about'}}About{{/link-to}}
    {{#link-to 'contact'}}Contact{{/link-to}}
  </footer>
</div>
