<hr>
<h2>Latest blog posts below</h2>

<ul>
  {{#each model as |blogPost|}}
    <div class="row">
      <h3 class="blogTitle">{{blogPost.title}}</h3>
      <p class="centerText">By: <span class="blogAuthor"> {{blogPost.author}}</span></p>
      <img src={{blogPost.image}} alt="photo of cycling" class="blogImage"><br>
      <div class="col-sm-8 col-sm-offset-2">
        <p class="blogDetail">{{blogPost.detail}}</p>
      </div>
    </div>
    <hr>
  {{/each}}
</ul>
